input[type=text],
input[type=email],
input[type=password] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  font-family: $body-font-family;
  font-weight: 100;
  font-size: 1rem;
  color: black;
}

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  font-family: $body-font-family;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;

  &.primary {
    background: linear-gradient(0deg, darken($primary-color, 2%) 25%, lighten($primary-color, 2%) 75%);

    &:hover {
      background: linear-gradient(0deg, lighten($primary-color, 2%) 25%, darken($primary-color, 2%) 75%);
    }
  }
}