/**
 * CSS Variables
 */

$title-font-family: 'Roboto Condensed', sans-serif;
$body-font-family: 'Helvetica Neue', sans-serif;

$body-font-weight: 400;

$primary-color: #20b353; //#764abc;
$primary-overlay: white;
$primary-grad-top-bottom: linear-gradient(0deg, darken($primary-color, 5%) 25%, $primary-color 75%);
$primary-grad-bottom-top: linear-gradient(0deg, $primary-color 25%, darken($primary-color, 5%) 75%);

$nav-width: 240px;