@import 'variables';

html,
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* General Styles */
a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 15%);
  }
}

button {
  cursor: pointer;
}
